.outer-container{
    width: 100%;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.4rem;
}
.inner-container,.modal-container{
    max-width: 413px;
    width: 100%;
    min-height: 415px;
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-Blue);
    padding: 3.2rem 3.9rem 2.5rem 3.2rem;
    border-radius: 3rem;
    box-shadow: 0 1rem 2rem -1rem #272e3772;
}

